.navbar {
    background-color: white;
    color: #333;
}

.navbar-brand {
    color: #333;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 1rem;
}


.navbar-nav .nav-link:hover {
    color: #4C8DBF;
}


.dropdown-menu {
    background-color: #333;
}

.dropdown-menu .dropdown-item {
    color: #333;
    font-weight: 700;
    font-size: 1.1rem;

}

.dropdown-menu .dropdown-item:hover {
    background-color: #969696;
}

.navbar-brd {
    color: #4C8DBF;
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
    margin-right: 1rem;
}